# npm stuff
/node_modules

# env file
.env

# python files
fetchTAIEX_Darren_Version.py

# csv file
*.csv

# debug.log
debug.log

#__pycache__
/crawler/__pycache__
/crawler/comp/__pycache__


#experiment
/experiment
testSQL.py